body {
	font-size: 50px;
}
p {
	background-color: yellow;
}
.person {
	color: blue;
}
.farmer {
	color: green;
}
#Bob {
	color: purple;
}
.legend {
	text-decoration: underline;
}
.farmer.legend {
	font-size: 100px;
}
div.bomb {
	background: red;
}
div.dot span {
	color: orange;
}
div.yo {
	min-height: 60px;
	max-height: 75px;
	overflow: scroll;
	text-align: center;
	margin: 50px;
	padding: 50px;
	border: 5px solid black;
	border-width: 5px 10px 15px 50px;
	border-style: dashed double;
	height: 100px;
	width: 100px;
	border-collapse: collapse;
}
ul {
	list-style: none;
}
li {
	float: left;
	padding: 20px;
	margin: 5px;
	border-radius: 60px;
	box-shadow: 2px gray;
	text-shadow: 2px black;
}
.c {
	background: cyan;
	color: black;
}